body{
    
    padding: 0;
    border: 2px solid black;
    max-width: 80%;
    margin: 5% auto;
}



#cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;


.btn-nav {
    margin-right: 15px;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(199, 196, 240);
    color: rgb(63, 25, 133);
    border-radius: 6px;
    font-weight: 700;
}

}

main{
    background-color:#e0d9fb;;
    margin: 5% 0;
    .btn-nav {
        display: inline-block;
        padding: 8px 16px;
        background-color: rgb(199, 196, 240);
        color: rgb(63, 25, 133);
        border-radius: 6px;
        font-weight: 700;
        margin-left: 650px;
        margin-top: 15px;

    }

}


#banner{
    background-color: #615a9b;
    margin: 5% 0;
     p{
        margin-top: 100px
     }
}


footer{
    display: flex;
    justify-content: center;
}
