body{
    
    padding: 0;
    border: 2px solid black;
    max-width: 80%;
    margin: 5% auto;
}



#cabeçalho{
    display: flex;
    justify-content: space-between;
    align-items: center;


.btn-nav {
    margin-right: 15px;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(199, 196, 240);
    color: rgb(63, 25, 133);
    border-radius: 6px;
    font-weight: 700;

}

}

main{
    background-color:#e0d9fb;;
    margin: 5% 0;
    padding-bottom: 260px;
    .btn-nav {
        display: inline-block;
        padding: 10px 19px;
        background-color: rgb(199, 196, 240);
        color: rgb(63, 25, 133);
        border-radius: 10px;
        font-weight: 700;
        margin-top: 5px;

    }

}


#banner{
    background-color: #615a9b;
    margin-top: auto;
    padding: 30px 5%;
    color:ghostwhite

}
#banner h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
#banner p{
    font-family: sans-serif;
    margin-top: auto;
}

h2{
    color: rgb(36, 37, 100);
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
 #banner2 p{
    color: rgb(73, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% ;
 }


footer{
    display: flex;
    justify-content: center;
    padding: 1px ;
}
